<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Reverse proxy tới java spring boot: map /api/* -> http://localhost:9999/api/* -->
        <rule name="Proxy API to Spring Boot" stopProcessing="true">
          <match url="^api(?:/(.*))?$" />
          <action type="Rewrite" url="http://localhost:9999/api/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
